# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# virtual envs
.env
.venv
venv/

# dotenv secrets
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# logs
*.log

tests/

# evaluation outputs
*.csv
*.xlsx
**/trajectory_plots/
**/combined_trajectory_plots/
